.container,
.container-fluid,
.card,
.card-body,
.mult-choice {
  display: flex;
  flex-direction: column;
}
.start-div,
.question-div,
.initals-div,
.highscore-div {
  margin: 50px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#viewscore {
  color: white;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: indianred;
  border-color: indianred;
}

.container-fluid {
  margin: 50px auto;
}
.card-body {
  margin: 50px;
}
.time-left {
  color: indianred;
}
.btn {
  max-width: 20%;
  margin: 5px;
  background-color: indianred;
  border-color: indianred;
}

li {
  list-style: none;
}
.mult-choice {
  margin: 15px;
}
/* needs to hide when quiz starts */
.start-div {
  display: block;
}
/* needs to be display block when quiz is started */
.question-div {
  display: none;
}
/* needs to display when quiz questions are finished or timer runs out  */
.initials-div {
  display: none;
}
/* needs to display after initials are submitted or when link in navbar is clicked */
.highscore-div {
  display: none;
}
