.container-fluid,
.card,
.card-body {
  display: flex;
  flex-direction: column;
}
.container-fluid {
  margin: 50px auto;
}

.card-body {
  margin: 50px;
}

.btn {
  max-width: 20%;
  margin: 5px;
}

ol{
  margin: 15px;
}
/* needs to hide when quiz starts */
.start-div {
  display: block;
}
/* needs to be display block when quiz is started */
.question-div {
  display: none;
}
/* needs to display when quiz questions are finished or timer runs out  */
.initials-div {
  display: none;
}
/* needs to display after initials are submitted or when link in navbar is clicked */
.highscore-div {
  display: none;
}
